/* Add a black background color to the top navigation */
:root
{
	--yy: 10%;
}

.flex-container {
  display: flex;
}

div.logo
{
	position: fixed;
	float: left;
    	top: 17.5vh;
	left: 2vw;
	flex-grow: 1;
}

div.scroll {
    margin-top: 75px;
    margin-left: 125px;
    margin-bottom: 4px;
    padding-top: 37.5px;
    padding-right: 37.5px;
    padding-left: 37.5px;
    padding-bottom: 5px;
    background-color: #DEE3EB;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 50px 0px 0px 0px;
    position: fixed;
    width: calc(100% - (125px + 75px));
    height: calc(100% - (75px + 37.5px));
    text-align: justify;
    box-shadow: inset 4px 4px 52.3px 5px hsla(228,16%,64%,0.25);
    flex-grow: 8;
    margin-right: auto;
    word-wrap: break-word;
        }

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


li.nav1{
    display: inline;
    float: left;
    border-right: 1px solid transparent;
    border-image: linear-gradient(to bottom, white,#A6A9B0,white,white);
    border-image-slice: 1;
    padding-left: 25px;
    padding-right: 25px;
}

li.nav1:last-child
{
	border-right: none;
}


a.nav2
{
    display: block;
    padding: 8px;
    text-align: center;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 14px;
    text-decoration: none;
    color: #A6A9B0;
    font-size: x-large;
}
ul.navmain
{
    list-style-type: none;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 125px;
    margin-bottom: 0;
    padding: 0;
	top: 2vw;
    overflow: hidden;
    position: fixed;
}

body {
    font-family: ITC Kabel Std Book;
    font-weight: 500;
    color: rgba(20,21,23,1.00);
    font-size: large;
}

@media screen and (max-device-aspect-ratio: 0.95/1)
{
	  div.logo {
	    display: none;
	  }

	div.scroll 
	{
	    margin-top: 75px;
		margin-left: -10px;
	    margin-bottom: 4px;
	    padding-top: 37.5px;
	    padding-right: 37.5px;
	    padding-left: 37.5px;
	    padding-bottom: 5px;
	    background-color: #DEE3EB;
	    overflow-x: hidden;
	    overflow-y: scroll;
	    border-radius: 50px 50px 0px 0px;
	    position: fixed;
	    width: calc((100% + 10px) - 75px);
	    height: calc(100% - (75px + 37.5px));
	    text-align: justify;
	    box-shadow: inset 4px 4px 52.3px 5px hsla(228,16%,64%,0.25);
	    flex-grow: 8;
	    margin-right: auto;
	    word-wrap: break-word;
	 }
	
	ul.navmain
	{
	    list-style-type: none;
		float: none;
		position: absolute;
	    margin-right: 0;
	    margin-left: 50%;
	    margin-bottom: 0;
		margin-top: 30px;
	    padding: 0;
		transform: translateX(-50%);
		width: 100%;
	    overflow: hidden;
		text-align:center;
		align-content:center;
	}
	div.logo_hor
	{
		display: block;
		margin-left: calc(50% - (260px / 2));
		margin-right: auto;
		width: 50%
	  }
}

@media screen and (min-device-aspect-ratio: 0.95/1)
{
	div.logo_hor {
	    display: none;
	  }
}
